@model InterviewWebApplication.ViewModels.UserFormViewModel
@{
    ViewBag.Title = "Details";
}

<h2>明細資料</h2>

<table class="table">
    <tr>
        <td>@Html.DisplayNameFor(m => m.User.Id) </td>
        <td>@Html.DisplayFor(m => m.User.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.User.Name)</td>
        <td>@Html.DisplayFor(m => m.User.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.User.Email)</td>
        <td>@Html.DisplayFor(m => m.User.Email)</td>
    </tr>
</table>
<div>
    @Html.ActionLink("返回列表","Index")
</div>

