@model InterviewWebApplication.ViewModels.UserViewModel
@{
    ViewBag.Title = "Home Page";
}
<br />
<div>
    <a href="@Url.Action("Create","Users")"> 新增</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>姓名</th>
                <th>Email</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => m.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => m.Email)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","Users",new { id = m.Id})" title="修改"> 修改</a>
                        <a href="@Url.Action("Delete","Users",new { id = m.Id})" title="刪除​" > 刪除​ </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>