@model InterviewWebApplication.ViewModels.UserViewModel
@{
    ViewBag.Title = "Home Page";
}
<br />
<div>
    @Html.ActionLink("新增","Create") 
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>姓名</th>
                <th>Email</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => m.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => m.Email)
                    </td>
                    <td>
                        @Html.ActionLink("明細","Details", new { id = m.Id })
                        @Html.ActionLink("修改", "Edit", new { id = m.Id })
                        @Html.ActionLink("刪除", "Delete", new { id = m.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>